body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  line-height: normal;
  text-transform: uppercase;
  background-color: #f2f2f2;
}


.wrapper {
  max-width: 1200px;
  min-width: 760px;
  margin-left:auto;
  margin-right: auto;
  background-color: white;
  moz-box-shadow: 0 0 5px 0 #d4d4d4;
  -webkit-box-shadow: 0 0 5px 0 #d4d4d4;
  box-shadow: 0 0 5px 0 #d4d4d4;

}

.main-header {
  background-color: white;
  position: relative;
  margin: 0px;
  padding: 0px;
  font-size: 0px;

}

.main-navigation ul {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 17px;
  padding-bottom: 19px;
}

.main-navigation li {
  display:inline-block;
  margin-right: 150px;
}

.main-navigation a {
  text-decoration: none;
  font-weight: bold;
  display: block;
  color: black;
}

.main-navigation .offset {
  margin-right: 383px;
}

.main-navigation li:last-child {
  margin-right: 0px;
}

.main-navigation a:hover {
  color: #81b3d2
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}


.logo {
  width: 138px;
  height: 70px;
  margin-left:auto;
  margin-right: auto;
  position: absolute;
  left: 50%;
  margin-left: -69px;

}

.promo {
  background: #d9eaf2 url("../img/welcome-sedona-bg.jpg");
  width: 1200px;
  height: 508px;
}

.promo img {
  width: 458px;
  height: 352px;
  position:relative;
  left: 50%;
  top: 76px;
  margin-left: -229px;
}

.promo:after {
  width: 1200px;
  height: 57px;
  content: url("../img/zigzag.png");
  position:relative;
  bottom: -95px;
}

.reasons {
  text-align: center;
}

.reasons-header {
  background-color: white;
  padding-left: 312px;
  padding-right: 312px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.reasons-header h1 {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  line-height: 26px;
  padding: 0px;
  margin: 0px;
  padding-bottom: 17px;
}


.reason-row h2,
.reason-row p,
figure {
  padding: 0px;
  margin: 0px;
}

.reason-row {
  background-color: white;
  font-size: 0px;
}

.reason {
  width: 280px;
  font-size: 14px;
  margin-left: 60px;
  margin-right: 60px;
}

.reason-image {
  width: 800px;
  height: 256px;
}

.reason-image,
.reason {
  display: inline-block;
  vertical-align: middle;

}

.reason h2 {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  color: #000000;
  padding-top: 47px;
  padding-bottom: 24px;
  padding-left: 64px;
  padding-right: 64px;
}

.reason-number {
  padding-bottom: 23px;
}

.reason p {
  padding-bottom: 61px;
}

.reason-row-image {
  background-color: #81b3d2;
  color: white;
}

.reason-row-image h2 {
  color: #ffffff;
}

.reason-row-gray {
  background-color: #eeeeee;
}

.reason-icon {
  height: 76px;
  width: 76px;
  position: relative;
  left: 50%;
  margin-left: -38px;
  padding-top: 37px;
  top: 56px;
  background: url("../img/sprites.png") no-repeat;
}

.reason-image-home {
  background-position: -185px -7px ;
}

.reason-image-food {
  background-position: -93px -2px ;
}

.reason-image-gift {
  background-position: 0 0;
}

.search {
  background-color: white;
  text-align: center;
  line-height: 24px;
}

.search h2 {
  font-size: 30px;
  font-weight: bold;
  color: #000000;
  line-height: 24px;
  padding: 0px;
  margin: 0px;
  margin-top: 56px;
  margin-bottom: 29px;
}

.search a {
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  width: 568px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  background-color: #766357;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 47px;
}


.search a:hover {
  background-color: #604e43;
}

.search a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #503e33;
}

.map {
  width: 1200px;
  height: 593px;
  position: relative;
}

.map .map-canvas {
  width: 1200px;
  height: 593px;
}

.map .form {
  width: 568px;
  height: 419px;
  background: white;
  position: absolute;
  top: 0px;
  left: 319px;

}

.map .main-footer {
  width: 1200px;
  position: absolute;
  background: rgba(254, 254, 254, 0.9);
  bottom: 0px;
  left: 0px;
  height: 120px;
}

.map .main-footer > a {
  position: absolute;
  color: black;
  font-weight: bold;
  font-size: 21px;
  text-decoration: none;
  left: 133px;
  top: 51px;
}


.map .main-footer .social {
  position: absolute;
  font-size: 0px;
  left: 521px;
  top: 36px;
}

.map .main-footer .social a.social-btn {
  width: 46px;
  height: 48px;
  background: #81b3d2;
  display: inline-block;
  margin-right: 7px;
}

.map .main-footer .social a.social-btn:hover {
  background: #669ec0;
}

.map .main-footer .autor {
  position: absolute;
  color: black;
  font-size: 14px;
  text-decoration: none;
  left: 903px;
  top: 41px;
}

.map .main-footer .autor a {
  position: absolute;
  top: -7px;
  left: 85px;
}


h2.hotel-title {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
  line-height: 26px;
}
